extends ../../layouts/default

block content
	.white-bg: .grid-container: .grid-x.align-center.tb-pad-90: .cell.medium-10.large-8
		h1 Oh, Dear!
			hr
		p We couldn't find the page you were looking for.
		p Please use the links in the navigation bar or the footer to find your way back to Crosshair.