extends ../layouts/default
include ../mixins/contact-form

block content
	+contact-form
	.grid-container
		.grid-x.align-center.t-pad-30.b-pad-15
			.cell.medium-6
				p.white.text-center Would you like to receive updates from Crosshair Music?
				p.text-center.t-pad-15
					a.button(target="_blank" href="https://crosshairmusic.us12.list-manage.com/subscribe/post?u=caae0a7b1ec989477bc61346a&amp;id=ab1b622eb1") Sign Me Up