mixin contact-form
	#contact-form
		if enquirySubmitted
			h3 Thanks for getting in touch.
					
		else
			.grid-container: .grid-x.align-center: .cell.medium-10.large-8
			
				h2 Contact Us
				p All fields required unless otherwise specified.
				hr
				
				form(method="post" action="contact")
					input(name="action" type="hidden" value="contact")
					
					//- NAME
					.grid-x: .cell
						input(name="name.full" placeholder="Name" required type="text" value="")
						
					//- EMAIL
					.grid-x: .cell
						input(name="email" placeholder="Email" required type="email")
						
					//- PHONE (Optional)
					.grid-x: .cell
						input(name="phone" type="text" placeholder="Phone (optional)" value="")
						
					//- MESSAGE
					.grid-x: .cell
						textarea(name="message" placeholder="Leave us a message..." required rows=4 )
						
					//- SEND IT
					.grid-x: .cell
						input(class="button" type="submit" value="Submit")