mixin footer
	#footer
		.grid-x.align-center
			.cell.medium-6.large-3.footercell
				h4 About Us
				hr#hr-1
				p Crosshair Music is a music promotions company based out of Nashville, TN. The concept was created to help assist independent artists on the path to a sustainable career in music.
				a.button(href="http://my.crosshairmusic.com/client/signup") Crosshair App

			.cell.medium-6.large-3.footercell#contact
				h4 Contact Info
				hr#hr-3
				p Address:&nbsp;
					a(href="https://www.google.com/maps/place/509+3rd+Ave+S,+Nashville,+TN+37210/@36.155894,-86.7747953,17z/data=!3m1!4b1!4m5!3m4!1s0x8864665d470522bb:0xa0220f78289b2d44!8m2!3d36.155894!4d-86.7726066") 509 3rd Avenue South Nashville, TN 37210
				p Phone:&nbsp;
					a(href="tel:6156693395") (615) 669-3395
				p Email:&nbsp;
					a(href="mailto:hello@crosshairmusic.com") hello@crosshairmusic.com

			.cell.medium-6.large-3.footercell
				h4 Follow Us
				hr#hr-2
				p To stay in time with the latest Crosshair updates, use the links below or 
					a(target="_blank" href="https://crosshairmusic.us12.list-manage.com/subscribe/post?u=caae0a7b1ec989477bc61346a&amp;id=ab1b622eb1") join our mailing list
					| .
				#google_language_translator.default-language-en
				p#socials
					a.social-icon(href="https://twitter.com/crosshairmusic")
						i.fab.fa-2x.fa-twitter
					a.social-icon(href="https://www.facebook.com/crosshairmusic")
						i.fab.fa-2x.fa-facebook
					a.social-icon(href="https://www.instagram.com/crosshairmusic")
						i.fab.fa-2x.fa-instagram
					a.social-icon(target="_blank" href="https://crosshairmusic.us12.list-manage.com/subscribe/post?u=caae0a7b1ec989477bc61346a&amp;id=ab1b622eb1")
						i.fas.fa-2x.fa-envelope

			.cell.medium-6.large-3.footercell
				h4 Gyrosity Projects
				hr#hr-4
				p Crosshair is owned by the marketing agency Gyrosity Projects. For inquiries about the marketing agency and how Gyrosity can help increase your digital presence please follow the link below.
				a.button(href="https://www.gyrosityprojects.co") Gyrosity Website
		#border
		#bottom
			img(src="/images/navLogo.png")
			p &copy; 2019 Gyrosity Projects Co.